In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('us-cities-top-1k.csv')

In [3]:
df = df.fillna("")

In [4]:
df1 = df.dropna(how='all')

In [5]:
print("total number of rows are {rows}.".format(rows=len(df)))

total number of rows are 1000.

In [6]:
print(df.columns)

Index(['City', 'State', 'Population', 'lat', 'lon'], dtype='object')

In [7]:
print(df.isnull().sum())

City          0
State         0
Population    0
lat           0
lon           0
dtype: int64

In [8]:
df.head()

         City           State  Population        lat         lon
0  Marysville      Washington       63269  48.051764 -122.177082
1      Perris      California       72326  33.782519 -117.228648
2   Cleveland            Ohio      390113  41.499320  -81.694361
3   Worcester   Massachusetts      182544  42.262593  -71.802293
4    Columbia  South Carolina      133358  34.000710  -81.034814